.root {
    primary_color: violet;
    padding: 16px;
    margin:auto;

}
 
head {
    display: flex;
    justify-content: space-between;
    padding: auto;
    margin: 1rem;
    background-color: var(primary_color);
}


body {
    grid-template-columns: auto 1fr/ auto 1fr auto;
    padding: auto;
    margin: 1rem;
    background-color: var(primary_color);
}

h1{
    text-align: center;

}

p{
    padding: auto;
    margin: auto;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: violet;
    padding: 1rem;
}