body{
    margin:0 auto ;
    --primary-color: grey;
    --secondary-color: violet;
    --accent-color: gray;
    --heading-font: "Roboto", sans-serif;
    
}

header span{
    display: block;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem;
    background-color: var(--secondary-color);
}

nav{
    background-color: violet;
    color: white;

}

nav ul{
    display: flex;
    list-style: none;
    justify-content:center;
    list-style-type: none;
}

nav a{
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    margin: 0 15px;
    color: var(--primary-color);
}

na ul li {
    flex: 1;
    text-align: center;
}

nav ul li a:hover {
    background-color: var(--secondary-color);
    color: white;
    text-decoration: underline;
}

main {
    margin: 0 auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;

}
.card {
    background-color: var(--secondary-color);
    border-radius: 8px;
    width: 400px;
    padding: 15px;
    position: relative;
    box-shadow: 0 0 5px rgba(0,0,0,0,2);
}

.card h3 {
    background-color: var(--primary-color);
    color: white;
    padding: 10px;
    margin: -15px -15px 15px -15px;
}


.profile-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}

.profile img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 5px;
    margin-left: 10px;
}

.intro {
    flex: 1;
    margin-right;

}
.location {
    display: flex;
    gap: 8px;
    align-items: center;

}

.location img {
    width:80px;
}

footer {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}