

body{
    font-family: "Roboto", sans-serif;
    margin:0;
    background:#f5f5f5;
    }

/* Header */

header{
    background:#2c587a;
    color:white;
    text-align:center;
    padding:15px;
}

nav{
    background:#333;
    padding:10px;
}

nav a{
    color:white;
    margin:0 20px;
    text-decoration:none;
}

/* Main */

main{
    max-width:1000px;
    margin:auto;
    padding:20px;
}

h2{
    text-align:center;
    margin-bottom:20px;
}

/* Cards layout */

.cards{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:20px;
    }

/* Card styling */

.cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    background:white;
    border-radius:8px;
    box-shadow:0 2px 6px rgba(0,0,0,0.2);
    padding: 20px;px;
}

.card{
    background: violet;
    color:white;
    padding:10px;
    border-radius:0 2px 6px rgba (0,0,0,0.2);
}

/* About section */

.about{
    display:flex;
    gap:15px;
    align-items:center;
    }

.about img{
    width: 150px;
    border-radius: 6px;
}

/* Footer */

footer{
    background:#2c587a;
    color:white;
    text-align:center;
    padding:10px;
    margin-top:20px;
}